doctype html
html
  head
    title Domain Checker
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    block head
  body
    block content
    block foot
